<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Welcome to my Blog{% endblock head_title %}</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Bootstrap require jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <style>
    body {
        padding-top: 70px;
    }
    .nav-mycolors {
    	background-image: linear-gradient(to left, #442a42, #631639);
    	color: #ffefd2 !important;
    }
    .nav-mycolors a {
    	color: #ffefd2 !important;
    }
	.nav-mycolors .dropdown-menu {
		background: #333;
	}
	.nav-mycolors .dropdown-menu>li>a:focus,
	.nav-mycolors .dropdown-menu>li>a:hover {
		background: #000;
	}
</style>
</head>
<body>
    {% include "navigation.html" %}


    <div class="container">
        <h1>{% block title %}Welcome to my blog{% endblock title %}</h1>

        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>