{% extends "base.html" %}
{% block head_title %}
	Viewing category {{ category.title }}
{% endblock head_title %}
{% block title %}
	Category: {{ category.title }}
{% endblock title %}

{% block content %}
	{% if posts %}
		<div>
			{% for post in posts %}
				<div>
				<h1> {{ post.title }}</h1>
				<p>
					{{ post.body }}
				</p>
			    <a class="btn btn-default btn-block" href="{{ post.get_absolute_url }}">Continue reading...</a>
				</div>
				<hr>
				<br>
			{% endfor %}
		</div>
	{% else %}
		<p>There are no posts.</p>
	{% endif %}
{% endblock content %}