{% extends "base.html" %}
{% load comments %}


{% block head_title %}
	{{ post.title }}
{% endblock head_title %}

{% block title %}
	{{ post.title }}
{% endblock title %}

{% block content %}

    {% get_comment_count for post as comment_count %}
    <div>COMMENCTS_COUNT: {{ comment_count }}</div>

    <article>
        POST.BODY:
        {{ post.body }}
    </article>

    <div>
        {% render_comment_list for post %}
    </div>

    {% render_comment_form for post %}
{% endblock content %}