{% extends "base.html" %}
{% load comments %}


{% block head_title %}
	{{ post.title }}
{% endblock head_title %}

{% block title %}
	{{ post.title }}
{% endblock title %}

{% block content %}

    <h2 class="text-center">{{ post.title }}</h2>
    <hr>
    <p>{{ post.body }}</p>

    <div class="comments">
        {% get_comment_count for post as comment_count %}
        <div>COMMENCTS_COUNT: {{ comment_count }}</div>

        <div>
            {% render_comment_list for post %}
        </div>

    </div>



    {% render_comment_form for post %}
{% endblock content %}